<form class="panel-group">
    <div class="login-input row card-panel">
        <div class="input-field">
            <i class="material-icons prefix">local_post_office</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
    </div>               
    <div class="row">
        <button class="color-primary btn max-width waves-effect waves-light">Recuperar Senha</button>
    </div>
</form>