<div id="modalMessage" class="modal">
    <div class="modal-content">
        <h4>{{msgTitle}}</h4>
        <p>{{msgContent}}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeMessage()">OK</a>
    </div>
</div>