<!-- Header -->
<header >
  <ul id="nav-menu" class="side-nav">
    <li>
      <div class="userView">
        <div class="background">
          <img width="300" src="/images/nav_header.png" >
        </div>
        <% var photoUser = (user.linkFotoCliente) ? user.linkFotoCliente : "/images/profile.png" %>        
        <a href="#!user"><img class="circle" src="<%= photoUser %>"></a>
        <a href="#!name"><span class="white-text name"><%= user.nomeCliente %></span></a>
        <a href="#!email"><span class="white-text email"><%= user.emailCliente %></span></a>
      </div>
    </li>
    <% if (value == "Meus Itens") { %>
    <li class="active">
    <% } else { %>
    <li>
    <% } %>
      <a href="/item/all/" class="waves-effect"><i class="fif-all-items"></i>Meus Itens</a>
    </li>
    <% if (value == "Meus Itens Perdidos") { %>
    <li class="active">
    <% } else { %>
    <li>
    <% } %>
      <a href="/item/lost/" class="waves-effect"><i class="fif-lost"></i>Meus Itens Perdidos</a>
    </li>
    <% if (value == "Meus Itens Encontrados") { %>
    <li class="active">
    <% } else { %>
    <li>
    <% } %>
      <a href="/item/found/" class="waves-effect"><i class="fif-found"></i>Meus Itens Encontrados</a>
    </li>
    <% if (value == "Meus Itens Devolvidos") { %>
    <li class="active">
    <% } else { %>
    <li>
    <% } %>
      <a href="/item/returned/" class="waves-effect"><i class="fif-returned"></i>Meus Itens Devolvidos</a>
    </li>
    <li>
      <a href="/chat/<%= user.codigoCliente %>" class="waves-effect"><i class="material-icons">insert_comment</i>Minhas Conversas</a>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Outros</a></li>
    <li><a class="waves-effect" href="#!">Sobre o Find-It</a></li>
    <li><a class="waves-effect" href="#!">Perguntas Frequentes</a></li>
  </ul>
  <div class="navbar-fixed">
    <nav>		
      <div class="nav-wrapper color-primary">
        <a href="#" data-activates="nav-menu" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo center">Find-It</a>
        <ul class="right">
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>	
  </div>				
</header>