<!-- Header -->
<header >
  <ul id="nav-menu" class="side-nav">
    <li>
      <div class="userView">
        <div class="background">
          <img width="300" src="/images/nav_header.png" >
        </div>
        <a href="#!user"><img class="circle" ng-src="{{profileImgUser}}"></a>
        <a href="#!name"><span class="white-text name">{{nameUser}}</span></a>
        <a href="#!email"><span class="white-text email">{{emailUser}}</span></a>
      </div>
    </li>
    <li><a href="#!" class="waves-effect active"><i class="fif-all-items"></i>Meus Itens</a></li>
    <li><a href="#!" class="waves-effect"><i class="fif-lost"></i>Meus Itens Perdidos</a></li>
    <li><a href="#!" class="waves-effect"><i class="fif-found"></i>Meus Itens Encontrados</a></li>
    <li><a href="#!" class="waves-effect"><i class="fif-returned"></i>Meus Itens Devolvidos</a></li>    
    <li><a href="#!" class="waves-effect"><i class="material-icons">insert_comment</i>Minhas Conversas</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Outros</a></li>
    <li><a class="waves-effect" href="#!">Sobre o Find-It</a></li>
    <li><a class="waves-effect" href="#!">Perguntas Frequentes</a></li>
  </ul>
  <div class="navbar-fixed">
    <nav>		
      <div class="nav-wrapper color-primary">
        <a href="#" data-activates="nav-menu" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo center">Find-It</a>
        <ul class="right">
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>	
  </div>				
</header>