<!DOCTYPE html>
<html ng-app="app" class="no-js" lang="pt-br">
    <head> 
        <% var title= 'Find-It - Alterar Perfil'; %>
        <% include partials/header.ejs %>       
    </head>
    <body ng-controller="insertItemCtrl">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper color-primary">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">arrow_back</i></a>                    
                    <a href="#" class="brand-logo center">Find-It - Alterar Perfil</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#" id="confirm"><i class="material-icons">check</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row img-responsive center-align">    
                <img  src="/images/profile.png" alt="Imagem de Perfil">
            </div>
            <form class="panel-group" name="signUpForm" ng-submit="submitSignUp(signUpForm.$valid)" novalidate>
                <div class="login-input row card-panel">
                    <div class="input-field">
                        <i class="material-icons prefix">face</i>
                        <input id="full_name" type="text" ng-model="data.name" ng-minlength="8" class="validate" required>
                        <label for="full_name">Nome Completo</label>
                    </div>
                </div>
                <div class="login-input row card-panel">
                    <div class="input-field">
                        <i class="material-icons prefix">local_post_office</i>
                        <input id="email" ng-model="data.email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="login-input row card-panel">
                    <div class="input-field">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" ng-model="data.password" type="password" ng-minlength="6" class="validate" required>
                        <label for="password">Senha</label>
                    </div>
                </div>                
                <div class="row">
                    <button type="submit" ng-disabled="signUpForm.$invalid" class="color-primary btn max-width waves-effect waves-light">Cadastrar</button>
                </div>
            </form>
        </div>
        <% include partials/modalMessage.ejs %>  
    </body>
</html>