<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% var title= 'Find-It - Recuperar Senha'; %>
        <% include partials/header.ejs %>
        <script src="/js/recover.js"></script>    
    </head>
    <body ng-controller="recoverCtrl" class="color-primary-dark">
        <div class="container">
            <div class="row img-responsive center-align">    
                <img  src="/images/app_logo.png" alt="App Logo">
            </div>
            
        </div>
        <% include partials/modalMessage.ejs %> 
    </body>
</html>