.color-primary{
    background-color: #009687;
}
.color-primary-dark{
    background-color: #00594f;
}
.text-primary-dark{
    color: #00594f;
}
.text-white{
    color: white;
}
.side-nav > li.active {
    background-color: #d1d1d1;    
}
.side-nav > li.active > a , .side-nav > li.active > a > .fif-lost {
    color: #009687;
}
.max-width{
    width: 100%;
}
.carousel{
    background-color: #d1d1d1;  
}
.carousel-empty{
    background-color: #d1d1d1;
    height: 400px;
}
span.badge {
    min-width: 1.5rem;
}
span.badge.new{
    background-color: #42a5f5;
    border-radius: 50%;
}
.transparent{
   background-color: transparent; 
}
.card-panel{
    padding: 5px 20px;
}
.img-logo{
    width: 4.5rem;
}
.btn-floating.btn-large i {
    bottom: 50px;
    right: 19px;
}
/*#33b5e6*/